# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# Environment files
.env

# Build folders
dist/
build/
out/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
